{% extends "base.html" %}
{% load markdown_extras %}
{% load static %}
{% block content %}

{# HOME-HEADER #}
<div class="container text-center">
  <div id="dates_title"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script>
  var typed = new Typed('#dates_title', {
    strings: ["WE'RE BACK - JUNE 5TH-9TH"],
    typeSpeed: 50,
    showCursor: false

  });
</script>

<div class="centered-logo text-center">
  <div id="main_logo">
    <img src="{% static 'images/logo/main_logo.png' %}" alt="Djangocon 2024 logo"
         class="img-fluid px-4 px-lg-0">
  </div>
</div>

<div class="row px-5 mainbutton">
  <div class="container-button pt-5 px-3 d-flex justify-content-center">
    <a href="https://pretix.evolutio.pt/evolutio/djceu2024/" class="mx-2">
      <button class="btn btn-primary btn-lg pycon-btn yellow-btn text-uppercase home-btn" role="button">
          Submit your CFP <span class="pl-2">📢</span>
      </button>
    </a>
        
    <a href="https://pretix.evolutio.pt/evolutio/djceu2024/" class="mx-2">
      <button class="btn btn-primary btn-lg pycon-btn yellow-btn text-uppercase home-btn" role="button">
          Buy your Tickets <span class="pl-2">🎫</span>
      </button>
    </a>
  </div>
</div>

{# SLIDE TEXT #}
{% include 'modules/default.html' with content=files.0|markdown %}


{# HOME-ABOUT #}
{% include 'modules/default.html' with content=files.1|markdown %}


{# TICKETS #}
{% include 'modules/default.html' with content=files.2|markdown %}

{# IMPORTANT DATES #}
{% include 'modules/default.html' with content=files.3|markdown %}


{# HOME-SPEAKERS #}
<!--<div class="container-fluid speakers py-5">
<div class="container">
  <div class="title-container">
    <img src="{% static 'images/other/speakers.png' %}" class="speakers_image" alt="speakers">
    <div class="swiper-buttons d-none d-sm-block">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <div class="swiper">
    {% include 'modules/home_speakers.html' %}
  </div>
</div>

</div>-->

{# HOME-SPONSORS #}
{% include 'modules/default.html' with content=files.5|markdown %}


{# LATEST NEWS #}
{% include 'modules/default.html' with content=files.6|markdown %}
<br class="my-4">

{#  ABOUT#}
{#  {% include 'templates/default.html' with content=files.0 %}#}
{# <hr/> #}

{#  LATEST-NEWS#}
{#  {% include 'modules/home/news.html' %}#}


{#  PORTO-INFO#}
{% comment %} {% include 'modules/default.html' with content=files.1 %} {% endcomment %}

{#  SPONSORS#}
{#  {% include 'modules/default.html' with content=files.2 %}#}

{#  MAILING-LIST#}
{#  {% include 'modules/home/mailing.html' %}#}

{% endblock content %}