{% extends "base.html" %}
{% load markdown_extras %}
{% load static %}
{% block content %}

  {# HOME-HEADER #}

  <div class="container">
    <div id="dates_title"> WE'RE BACK - JUNE 5TH-9TH</div>
  </div>

  <div class="centered-logo">
    <div id="main_logo">
      <img src="{% static 'images/logo/main_logo.png' %}" alt="Djangocon 2024 logo"
           class="img-fluid px-4 px-lg-0">
    </div>
  </div>


  {# SLIDE TEXT #}
  {% include 'modules/default.html' with content=files.0|markdown %}


    {# HOME-ABOUT #}
    {% include 'modules/default.html' with content=files.1|markdown %}


    {# TICKETS #}
    {% include 'modules/default.html' with content=files.2|markdown %}

  {# IMPORTANT DATES #}
  {% include 'modules/default.html' with content=files.3|markdown %}

  {# HOME-SPEAKERS #}
  <!--<div class="container-fluid speakers py-5">
  <div class="container">
    <div class="title-container">
      <img src="{% static 'images/other/speakers.png' %}" class="speakers_image" alt="speakers">
      <div class="swiper-buttons d-none d-sm-block">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <div class="swiper">
      {% include 'modules/home_speakers.html' %}
    </div>
  </div>

</div>-->

  {# HOME-SPONSORS #}
  {% include 'modules/default.html' with content=files.5|markdown %}

  {#  ABOUT#}
  {#  {% include 'templates/default.html' with content=files.0 %}#}
  {#  <hr/>#}

  {#  LATEST-NEWS#}
  {#  {% include 'modules/home/news.html' %}#}

  {#  PORTO-INFO#}
  {% comment %} {% include 'modules/default.html' with content=files.1 %} {% endcomment %}

  {#  SPONSORS#}
  {#  {% include 'modules/default.html' with content=files.2 %}#}

  {#  MAILING-LIST#}
  {#  {% include 'modules/home/mailing.html' %}#}

{% endblock content %}