{% load static%}

<div class="container creditsmain">
  <h1 class="mainname">CREDITS</h1>
  <p>
    This list of individuals is still growing. Nonetheless, these are our
    sincerest alphabetical thanks to everyone who have made contributions to
    this conference thus far:
  </p>

  <div class="row pt-3">
    <div class="col-sm-3">
      <img src="{% static 'images/credit_logo/coc.svg' %}" class='creditlogo ' alt="EPS Logo">
      <h4 class="headtext">CODE OF CONDUCTS</h4>
      <h6 style="color: #bda712; font-weight: bold;">Thibaud Colas</h6>
      <h6>Cheuk Ho</h6>
      <h6>Dawn Gibson Wages</h6>
      <h6>Joseph Anyetei Sowah</h6>
    </div>

    <div class="col-sm-3">
      <img src="{% static 'images/credit_logo/speaker.svg' %}" class='creditlogo ' alt="EPS Logo">
      <h4 class="headtext">COMMUNICATIONS</h4>
      <h6 style="color: #db3f01; font-weight: bold;">Bia Rodrigues</h6>
      <h6>Diana Kieru</h6>
      <h6>Julius Boakye</h6>
    </div>

    <div class="col-sm-3">
      <img src="{% static 'images/credit_logo/diverse.svg' %}" class='creditlogo ' alt="EPS Logo">
      <h4 class="headtext">DIVERSITY & INCLUSION</h4>
      <h6 style="color: #005e83; font-weight: bold;">Cheuk Ho</h6>
      <h6>Eyad Tomeh</h6>
      <h6>Joseph Anyetei Sowah</h6>
      <h6>Julius Boakye</h6>
    </div>

    <div class="col-sm-3">
      <img src="{% static 'images/credit_logo/girls.svg' %}" class='creditlogo ' alt="EPS Logo">
      <h4 class="headtext">DJANGO GIRLS</h4>
      <h6 style="color: #af0161; font-weight: bold;">Kátia Nakamura</h6>
      <h6>Dawn Gibson Wages</h6>
      <h6>Joseph Anyetei Sowah</h6>
      <h6>Thibaud Colas</h6>
    </div>
  </div>

  <!-- SECOND ROW  -->
  <div class="row pt-5">
    <div class="col-sm-3">
      <img src="{% static 'images/credit_logo/programme.svg' %}" class='creditlogo ' alt="EPS Logo">
      <h4 class="headtext">PROGRAMME</h4>
      <h6 style="color: #d49702; font-weight: bold;">Carlton Gibson</h6>
      <h6>Cagil Ulusahin</h6>
      <h6>Mariusz Felisiak</h6>
      <h6>Joseph Anyetei Sowah</h6>
      <h6>Julius Boakye</h6>
      <h6>Sarah Boyce</h6>
      <h6>Telmo Guerra</h6>
      <h6>Thibaud Colas</h6>
    </div>

    <div class="col-sm-3">
      <img src="{% static 'images/credit_logo/sponsors.svg' %}" class='creditlogo ' alt="EPS Logo">
      <h4 class="headtext">SPONSORS</h4>
      <h6 style="color: #38b0c9; font-weight: bold;">Luis Vaz</h6>
      <h6>Brian Kiiru</h6>
      <h6>Dawn Gibson Wages</h6>
      <h6>Simon Atiegar</h6>
      <h6>Teri Eyenike</h6>
    </div>

    <div class="col-sm-3">
      <img src="{% static 'images/credit_logo/local.svg' %}" class='creditlogo ' alt="EPS Logo">
      <h4 class="headtext">LOCAL</h4>
      <h6>Alex Hermida</h6>
      <h6>David Ibañez Cerdeira</h6>
      <h6>Miguel González Álvarez</h6>
    </div>

    <div class="col-sm-3">
      <img src="{% static 'images/credit_logo/core.svg' %}" class='creditlogo ' alt="EPS Logo">
      <h4 class="headtext">CORE</h4>
      <h6 style="color: #863B35; font-weight: bold;">David Vaz</h6>
      <h6 style="color: #863B35; font-weight: bold;">Frederico Rodrigues</h6>
      <h6 style="color: #863B35; font-weight: bold;">Miguel Magalhães</h6>
      <h6>Felipe Valverde</h6>
      <h6>Isabella Colombarolli</h6>
      <h6>Maria Helena Machado</h6>
    </div>
  </div>

  <!-- THIRD ROW  -->
  <!-- Appreciations-->

  <div class="row pt-5">
    <div class="col-sm-6">
      <div class="row pt-2" style="padding: 20px; border-radius: 15px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
        <h5 style="color: #863B35; font-weight: bold;" class="pt-3"><strong>And also these wonderful individual
            supporters</strong></h5>
        <div class="col-sm-12 pt-3">
          <h6 class=" supporter" style="transition: all 0.3s ease;">👉🏽Marco Silva</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Matthias Kestenholz</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Shai Berger</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Hanna Kollo</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <!-- Add your new container here -->

      <div class="row pt-2" style="padding: 20px; border-radius: 15px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
        <h5 style="color: #863B35; font-weight: bold;" class="pt-3"><strong>And these great companies:</strong></h5>
        <div class="col-sm-6">
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Django CMS Association</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Django Stars</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Foxley Talent Limited</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Invictus AeroTech, LLC</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Noésis software technologies</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Kraken Labs LTD</h6>

        </div>
        <!-- secondst -->
        <div class="col-sm-6">
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Kolo</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Maykin Media B.V</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Mecexis</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Platform.sh</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Silvr Group</h6>
          <h6 class="supporter" style="transition: all 0.3s ease;">👉🏽Kition Software GmbH</h6>
        </div>
      </div>

    </div>

  </div>
  <div class="pt-5">
    <h5>
      <p><span style="font-weight: bold; color:#863B35; font-size: 20px; ">In addition, </span>the wonderful <a
          href="https://2024.djangocon.eu/talks/schedule/" style="text-decoration: none;">speakers</a>,
        our
        amazing <a href="https://2024.djangocon.eu/sponsors/sponsors/" style="text-decoration: none;">sponsors</a>, the
        fantastic <a href="https://www.djangoproject.com/foundation/individual-members/"
          style="text-decoration: none;">Django
          Software
          Foundation members</a>,
        and to everyone who bought a ticket. </p>
    </h5>
  </div>`

  <!-- comapnies -->

  <script>
    // Add a hover effect to the supporter names
    document.querySelectorAll('.supporter').forEach(function (supporter) {
      supporter.addEventListener('mouseover', function () {
        this.style.color = '#863B35';
        this.style.fontSize = '1.2em';
        this.style.fontWeight = 'bold';
      });
      supporter.addEventListener('mouseout', function () {
        this.style.color = 'initial';
        this.style.fontSize = 'initial';
        this.style.fontWeight = 'initial';
      });
    });
  </script>

</div>