{% load static %}

<div class="container-fluid header sticky-top">
  <div class="container inner-content-width">
    <div class="row justify-content-between">
      <div class="col d-flex d-lg-none header-margin"></div>
      <div class="d-none d-lg-flex header-margin"></div>

      <div class="col-3 align-self-center justify-content-end header-logo-container">
        <a class="nav-link header-logo" href="{{ home }}">
          <img src="{% static 'images/logo/logo_coloured.png' %}" alt="Logo" height="66rem">
        </a>
      </div>

      <!-- small screens -->
      <div class="d-flex d-lg-none col align-self-center justify-content-center">
        <div class="nav justify-content-end">
          <button class="btn button-primary navbar-light bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavigation" aria-expanded="false" aria-controls="collapseNavigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <div class="collapse container-fluid text-center" id="collapseNavigation">
        <ul class="nav nav-sm">
          {% for menu, menu_dict in site_menu.items %}
            {% if menu_dict.dropdown == 'false' %}
              <li><a href="{{ menu_dict.href }}" class="nav-link text-white btn btn-primary"> {{ menu }} </a></li>
            {% endif %}
            {% if menu_dict.dropdown == 'true' %}
              <li><a class="nav-link text-white btn btn-primary" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSubNav{{ menu|slugify }}" href="#collapseSubNav{{ menu|slugify }}"> {{ menu }} </a></li>
              <div class="subnav collapse container-fluid text-center" id="collapseSubNav{{ menu|slugify }}">
                <ul class="nav nav-sm">
                  {% for submenu, submenu_href in menu_dict.submenu.items %}
                    <li><a href="{{ submenu_href }}" class="nav-link text-white"> {{ submenu }} </a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <!-- big screens -->
      <ul class="nav nav-pills d-none d-lg-flex col align-self-center row row-cols-3 row-cols-lg-6 justify-content-end" > <!-- inverted order due to flex:left -->
        {% for menu, menu_dict in site_menu.items %}
          {% if menu_dict.dropdown == 'false' %}
            <li class="nav-item nav-item-lg col">
              <a class="nav-link text-white nav-link-lg" href="{{ menu_dict.href }}"> {{ menu }} </a>
            </li>
          {% endif %}
          {% if menu_dict.dropdown == 'true' %}
            <li class="nav-item nav-item-lg dropdown col">
              <a class="nav-link dropdown-toggle text-white nav-link-lg" data-bs-toggle="dropdown" role="button" aria-expanded="false"> {{ menu }} </a>
              <ul class="dropdown-menu">
                {% for submenu, submenu_href in menu_dict.submenu.items %}
                  <li><a class="dropdown-item" href="{{ submenu_href }}"> {{ submenu }} </a></li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <div class="d-none d-lg-flex header-margin"></div>


    </div>
  </div>
</div>
