{% load static %}


<div class="container" >
  <div class="title-container">
    <img src="{% static 'images/other/important_dates.png' %}" class="dates_logo" alt="tickets">
  </div>

<div class="warpper">
  <input class="radio" id="one" name="group" type="radio" checked>
  <input class="radio" id="two" name="group" type="radio">
  <input class="radio" id="three" name="group" type="radio">
  <input class="radio" id="four" name="group" type="radio">

  <div class="tabs">
    <label class="tab" id="one-tab" for="one">January</label>
    <label class="tab" id="two-tab" for="two">March</label>
    <label class="tab" id="three-tab" for="three">June</label>
    <label class="tab" id="four-tab" for="four">August</label>
  </div>

  <div class="panels">
    <div class="panel" id="one-panel">

      <p> <strong> More information coming soon!</strong> 
        <br>
        Don't forget to follow us on X (formerly known as Twitter) @DjangoConEurope, Slack , or LinkedIn for the latest up-to-date information! </p>
      <!--   <p> 🐤 May 31 - Early Bird tickets sales close</p>
        <p> 🐤 June 7 - Early Bird tickets sales close</p>
    -->

    </div>
    <div class="panel" id="two-panel">

      <p> <strong> More information coming soon!</strong> 
        <br>
      Don't forget to follow us on X (formerly known as Twitter) @DjangoConEurope, Slack , or LinkedIn for the latest up-to-date information! </p>
       <!--  <p> 📩 June 30 - Call for Participations closes</p>
        <p> 📥 July 31 - Application for Opportunity Grants closes</p>
        <p> 👶 August 1 - Childcare application opens</p>
        <p>📆 August 20 - Schedule is published</p>  -->

    </div>
    <div class="panel" id="three-panel">

      <p> <strong> More information coming soon!</strong> 
        <br>
      Don't forget to follow us on X (formerly known as Twitter) @DjangoConEurope, Slack , or LinkedIn for the latest up-to-date information! </p>
      <!-- <p>👶 August 31 - Childcare application closes</p>
      <p>🔛 September 7, 8 - Main Conference</p>  -->
    </div>
    <div class="panel" id="four-panel">

      <p> <strong> More information coming soon!</strong> 
        <br>
        Don't forget to follow us on X (formerly known as Twitter) @DjangoConEurope, Slack , or LinkedIn for the latest up-to-date information! </p>
       <!--  <p>🎉 September 8 - PyCon Portugal 2023 Party </p>
      <p>⌨️ September 9 - Workshops </p>-->
    </div>
  </div>

</div>
</div>