{% load static %}
<div class="container-fluid latest-news-page">
  <div class="container">
    <div class="latest_news_content">
      <div class="news_item">
        <div class="news-container">
          <div class="left-side">
            <div class="title-container">
              <img src="{% static 'images/other/latest-news.png' %}" class="news_logo img-fluid" alt="latest news" />
            </div>
            <p class="mb-0">
              <a href="https://pretix.evolutio.pt/evolutio/djceu2024/" style="text-decoration: none">
                Holidays Special Super Early Bird is sold out. Check available Tickets
              </a>
            </p>
            <small class="published" style="color: black">Published 23 Dec. 2023</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
