{% load static %}
<div class="container-fluid ">
    <div class="container">
       
        <div class="sponsors_content">
           
            <div class="become_sponsor">
                <div class="sponsor-container">
                    <div class="left-side">
                        <h2 class="fw-bolder">Latest News</h2>
                        <p class="mb-0 ">Holidays Special Super Early Bird is still selling ends 31st Dec. 2023</p>
                        <small style="color: black;">Published 18 Dec. 2023</small>
                    </div>
                   <!-- <div class="right-side">
                        <p>By tapping into this community, your brand can leverage value. We
                            deliver stock sponsorship packages and/or custom sponsorship
                            opportunities with high impact in terms of increased visibility and lead
                            generation, such as prime booth locations, speaking opportunities, and
                            branding exposure.</p>
                        <a type="button"
                           class="btn btn-primary btn-lg pycon-btn yellow-btn text-uppercase"
                           href="/sponsors/sponsorship/" target="_blank">DISCOVER THE AVAILABLE
                            SPONSORSHIP OPPORTUNITIES</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

