{% load static %}

<div class="container">
    <div class="title-container">
        <img src="{% static 'images/other/tickets.png' %}" class="tickets_image" alt="tickets">
    </div>
</div>

<div class="image-container" id="ticket123">
    
    <div class="image-wrapper">
        <div id="tickets_menu"></div>
        <div class="button-overlay button1">
            <a href="/tickets" class="button">BUY YOUR TICKET NOW</a>
        </div>
        <div class="button-overlay button2">
            <a href="/tickets" class="button">BUY YOUR TICKET NOW</a>
        </div>
        <div class="button-overlay button3">
            <a href="/tickets" class="button">BUY YOUR TICKET NOW</a>
        </div>
    </div>
</div>