{% load static %}

<div class="container">
  <div class="title-container">
    <img src="{% static 'images/other/tickets.png' %}" class="tickets_image"
         alt="tickets">
  </div>

  <div>

    <div class="image-container" id="ticket_containers">
      <div id="tickets_menu" class="row h-100 g-4">
        <div class="button-overlay-container col-12 col-md-4 button1">
          <div class="button-overlay-header button1">
            <span>Student</span>
          </div>
          <div class="button-overlay-body d-flex flex-column justify-content-between button1">
            <div class="d-flex flex-column price-container">
              <span class="small-top-text">from</span>
              <span class="price-text">€185</span>
            </div>
            <span class="ticket-description">If you are currently enrolled as a full-time student or if you are currently without regular income.</span>
            <div class="ticket-divider"></div>
            <a href="/tickets" class="button">BUY YOUR TICKET NOW</a>
          </div>
        </div>
        <div class="button-overlay-container col-12 col-md-4 button2">
          <div class="button-overlay-header button2">
            <span>Individual</span>
          </div>
          <div class="button-overlay-body d-flex flex-column justify-content-between button2">
            <div class="d-flex flex-column price-container">
              <span class="small-top-text">from</span>
              <span class="price-text">€285</span>
            </div>
            <span class="ticket-description">If you are paying your ticket from your personal money and are not being reimbursed by your employer.</span>
            <div class="ticket-divider"></div>
            <a href="/tickets" class="button" disabled>BUY YOUR TICKET NOW</a>
          </div>
        </div>
        <div class="button-overlay-container col-12 col-md-4 button3">
          <div class="button-overlay-header button3">
            <span>Business</span>
          </div>
          <div class="button-overlay-body d-flex flex-column justify-content-between button3">
            <div class="d-flex flex-column price-container">
              <span class="small-top-text">from</span>
              <span class="price-text">€385</span>
            </div>
            <span class="ticket-description">If your employer is paying for the ticket or reimbursing you for your conference expenses.</span>
            <div class="ticket-divider"></div>
            <a href="/tickets" class="button" disabled>BUY YOUR TICKET NOW</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
