{% load static %}
<div class="container-fluid sponsors py-3">
    <div class="container">
        <div class="title-container">

            <img src="{% static 'images/other/sponsors.png' %}" class="sponsors_image"
                 alt="sponsors">
        </div>
        <div class="sponsors_content">
            <h3 class="sponsor-category-title">Gold</h3>
            <img src="{% static 'images/sponsors/kolo.svg' %}" class='sponsor large'
                 alt="Kolo Logo">
            <hr class="sponsor-category-divider gold">
            <h3 class="sponsor-category-title">Grants</h3>
            <img src="{% static 'images/sponsors/dsf.png' %}" class='sponsor large'
                 alt="DSF Logo">
            <hr class="sponsor-category-divider gold">
            <h3 class="sponsor-category-title">Organizer</h3>
            <img src="{% static 'images/sponsors/evolutio.png' %}" class='sponsor large'
                 alt="Evolutio Logo">
            <div class="become_sponsor">
                <div class="sponsor-container">
                    <div class="left-side">
                        <h2 class="fw-bolder">Become a Sponsor</h2>
                        <p class="mb-0">Gain valuable exposure for your brand and help us ensure the success of
                            DjangoCon Europe by becoming a sponsor or exhibitor!</p>
                    </div>
                    <div class="right-side">
                        <p>By tapping into this community, your brand can leverage value. We
                            deliver stock sponsorship packages and/or custom sponsorship
                            opportunities with high impact in terms of increased visibility and lead
                            generation, such as prime booth locations, speaking opportunities, and
                            branding exposure.</p>
                        <a type="button"
                           class="btn btn-primary btn-lg pycon-btn yellow-btn text-uppercase"
                           href="/sponsors/sponsorship/" target="_blank">DISCOVER THE AVAILABLE
                            SPONSORSHIP OPPORTUNITIES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

