{% load static %}
<div class="container-fluid latest-news-page">
  <div class="container">
    <div class="latest_news_content">
      <div class="news_item">
        <div class="news-container">
          <div class="left-side">
            <div class="title-container">
              <img src="{% static 'images/other/latest-news.png' %}" class="news_logo img-fluid" alt="latest news" />
            </div>
            <p class="mb-0">
              <a href="/sponsors/jobs/" style="text-decoration: none; color: #005e83">
                Exciting news!📰 Our sponsors for DjangoCon Europe 2024 are now hiring! This is a unique
                opportunity to work with some of the leading companies in the industry. Don't miss out - explore these
                opportunities now!🚀
              </a>
            </p>
            <small class="published" style="color: black">Published: 21 May. 2024</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>