{% load static %}


<div class="container">
  <div class="title-container">
    <img src="{% static 'images/other/important_dates.svg' %}" class="dates_logo img-fluid" alt="tickets">
  </div>

  <div class="d-flex flex-column align-items-start important-dates-container w-100">
    <div class="month-container d-flex flex-column flex-lg-row justify-content-start w-100">
      <span class="align-self-center align-self-lg-start text-uppercase w-25">
        December
      </span>
      <ul class="important-dates-text w-100 mt-3 mt-lg-0">
        <li class="text-decoration-line-through">
          🎫 31st - Holidays Special Super Early Bird Deadline ✅
        </li>
      </ul>
    </div>
    <div class="month-container d-flex flex-column flex-lg-row justify-content-start w-100">
      <span class="align-self-center align-self-lg-start text-uppercase w-25">
        January
      </span>
      <ul class="important-dates-text w-100 mt-3 mt-lg-0">
        <li class="text-decoration-line-through">
          🎤 1st - Call For Participation Opening ✅
        </li>
        <li class="text-decoration-line-through">
          🎫 1st - Early Bird Ticket Sales Opening ✅
        </li>
      </ul>
    </div>
    <div class="month-container d-flex flex-column flex-lg-row justify-content-start w-100">
      <span class="align-self-center align-self-lg-start text-uppercase w-25">
        February
      </span>
      <ul class="important-dates-text w-100 mt-3 mt-lg-0">
        <li class="text-decoration-line-through">
          🎤 29th - Call For Participation Deadline ✅
        </li>
      </ul>
    </div>
    <div class="month-container d-flex flex-column flex-lg-row justify-content-start w-100">
      <span class="align-self-center align-self-lg-start text-uppercase w-25">
        March
      </span>
      <ul class="important-dates-text w-100 mt-3 mt-lg-0">
        <li class="text-decoration-line-through">
          📝 1st - Content Review & Selection Kickoff ✅
        </li>
        <li class="text-decoration-line-through">
          ✈️ 15th - Grants Applications Opening ✅
        </li>
      </ul>
    </div>
    <div class="month-container d-flex flex-column flex-lg-row justify-content-start w-100">
      <span class="align-self-center align-self-lg-start text-uppercase w-25">
        April
      </span>
      <ul class="important-dates-text w-100 mt-3 mt-lg-0">
        <li class="text-decoration-line-through">
          🎙 1st - Talks Publication ✅
        </li>
        <li class="text-decoration-line-through">
          👶 1st - Childcare Applications Opening ✅
        </li>
        <li class="text-decoration-line-through">
          🗓 15th - Schedule Publication ✅
        </li>
        <li class="text-decoration-line-through">
          ✈️ 15th - Grants Applications Deadline ✅
        </li>
        <li>
          🎫 30th - Early Bird Ticket Sales Closes
        </li>
      </ul>
    </div>
    <div class="month-container d-flex flex-column flex-lg-row justify-content-start w-100">
      <span class="align-self-center align-self-lg-start text-uppercase w-25">
        May
      </span>
      <ul class="important-dates-text w-100 mt-3 mt-lg-0">
        <li>
          👶 5th - Childcare Applications Deadline
        </li>
        <li>
          👕 10th - T-shirt Sales Deadline (for deliveries at the conference)
        </li>
      </ul>
    </div>
    <div class="month-container d-flex flex-column flex-lg-row justify-content-start w-100">
      <span class="align-self-center align-self-lg-start text-uppercase w-25">
        June
      </span>
      <ul class="important-dates-text w-100 mt-3 mt-lg-0">
        <li>
          🎪 5-7th - Main Conference, Workshops & Lightning Talks
        </li>
        <li>
          💻 8-9th - Sprints
        </li>
        <li>
          💻 8th - Django Girls
        </li>
      </ul>
    </div>
  </div>
</div>