{% load static%}
<script defer src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script defer src="{% static 'js/question_stats.js'%}"></script>



<div class="container creditsmain">
    <h1 class="mainname">TALK PROPOSAL</h1>
    <h4>Call For Participation report</h4>
    <p>
        We had a whopping total of <strong>174</strong> proposals from <strong>138</strong> submitter. Our content team
        worked extra hard to
        provide over <strong>750</strong> reviews, allowing for an average of <strong>4+</strong> reviews for
        submission. Cudos to all of them,
        you can check the team here <a href="https://2024.djangocon.eu/about/credits/">Programme Team</a>
    </p>

    <p><em style="font-weight: bold;">We are working on the schedule, meanwhile you can take a peek at the currently
            accepted and confirmed by the
            speakers talks</em>.</p>
    <a href="https://pretalx.evolutio.pt/djangocon-europe-2024/featured/">View Currently accepted and confirmed talk
        here</a>



    <h4 class="pt-3">Numbers breakout</h4>
    <p>We had <strong>156</strong> talks and <strong>18</strong> workshops submissions
        From the <strong>138</strong> submitters. <strong>51</strong> were first time speakers. <strong>43</strong> felt
        part of an underrepresented group.</p>

    <h4>Checkout the Charts</h4>
    <p>Get a glance of the chart below,</p>

    <!-- the topics codes -->

    <!-- question data -->
    <div id="question-data-1" class="d-none"
        data-states='[{&quot;options&quot;: 12, &quot;options__answer&quot;: &quot;Never attended&quot;, &quot;count&quot;: 56}, {&quot;options&quot;: 10, &quot;options__answer&quot;: &quot;Speaker&quot;, &quot;count&quot;: 44}, {&quot;options&quot;: 11, &quot;options__answer&quot;: &quot;Participant&quot;, &quot;count&quot;: 32}]'
        data-url="/orga/event/djangocon-europe-2024/speakers/?&amp;question=91&amp;"></div>

    <!-- question data ends here -->

    <!-- question-stats data starts -->
    <div class="row">

        <!-- first charts -->
        <div class="col-md-4">
            <div id="question-stats" class="d-flex flex-column mt-4 pt-4">
                <div id="question-answers-1"></div>
                <div class="table-responsive mt-4">
                    <table class="table table-flip w-100">
                        <thead>
                            <th>Answer</th>
                            <th>Count</th>
                            <th class="text-center">%</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a
                                        href="/orga/event/djangocon-europe-2024/speakers/?&amp;question=91&amp;answer__options=12">
                                        Never attended
                                    </a>
                                </td>
                                <td class="text-center">
                                    56
                                </td>
                                <td class="flip text-right">
                                    42&nbsp;%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a
                                        href="/orga/event/djangocon-europe-2024/speakers/?&amp;question=91&amp;answer__options=10">
                                        Speaker
                                    </a>
                                </td>
                                <td class="text-center">
                                    44
                                </td>
                                <td class="flip text-right">
                                    33&nbsp;%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a
                                        href="/orga/event/djangocon-europe-2024/speakers/?&amp;question=91&amp;answer__options=11">
                                        Participant
                                    </a>
                                </td>
                                <td class="text-center">
                                    32
                                </td>
                                <td class="flip text-right">
                                    24&nbsp;%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include "modules/topics.html"%}

        {% include "modules/audience_level.html"%}


    </div>
    <footer>



        powered by <a href="https://pretalx.com" target="_blank" rel="noopener">pretalx</a>




    </footer>
    <!-- question-stats data ends here -->



    <!-- the particiation top    -->

    <!-- the audience level charts -->
    <p>Don't forget to follow us on <a href="https://twitter.com/DjangoConEurope">X (formerly known as Twitter)</a>
        @DjangoConEurope, <a href="https://djangoconeurope.slack.com">Slack</a> , or <a
            href="https://www.linkedin.com/company/djangocon-europe/">LinkedIn</a> for the latest up-to-date
        information!
    </p>



</div>