{% load static %}

<div class="scrolling_text" style="font-size: 10;">
  <div class="text">
    <span style="color:#f79999;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
    <span style="color:#73d0ff;"> CFP is now open! <a href="https://pretalx.evolutio.pt/djangocon-europe-2024/cfp">Submit your Talk/Workshop now</a></span>
    <span style="color:#f2b950;"> Early Bird prices! Don't miss out on this offer and <a
      href="https://pretix.evolutio.pt/evolutio/djceu2024/">grab your tickets</a></span>
    <span style="color:lightgreen;"> <a href="https://2024.djangocon.eu/sponsors/sponsorship/"> Become a Sponsor!</a> Gain valuable exposure for your brand</span>
  </div>
</div>
