{% load static %}


<div class="scrolling_text">
    <div class="text">
        <span style="color:#f79999;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
        <span style="color:#73d0ff;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
        <span style="color:#f2b950;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
        <span style="color:lightgreen;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
    </div>
    <div class="text">
        <span style="color:#f79999;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
        <span style="color:#73d0ff;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
        <span style="color:#f2b950;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
        <span style="color:lightgreen;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
    </div>
</div>