{% load static %}


<div class="scrolling_text"  style="font-size: 10;">
    <div class="text">
        <span style="color:#f79999;">  </span>
        <span style="color:#73d0ff;">🎅🎄Our Holidays Special Super Early Bird is here, and we're bringing back 2022 ticket prices for a limited time! </span>
        <span style="color:#f2b950;"> Don't miss out on this offer and grab your tickets🎟️🎫 before the holiday magic fades away </span>
        <span style="color:lightgreen;"> <a href=" https://pretix.evolutio.pt/evolutio/djceu2024/ " style="color: greenyellow;"> https://pretix.evolutio.pt/evolutio/djceu2024/ </a></span>
    </div>
    <div class="text">
        <span style="color:#f79999;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
        <span style="color:#73d0ff;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
        <!-- <span style="color:#f2b950;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span>
        <span style="color:lightgreen;"> JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS. </span> -->
    </div>
</div>
<!-- 
:gift::star: Our Holidays Special Super Early Bird is here, and we're bringing back 2022 ticket prices for a limited time! :admission_tickets:
Don't miss out on this offer and grab your tickets before the holiday magic fades away: https://pretix.evolutio.pt/evolutio/djceu2024/ :christmas_tree: -->