{%load static%}

<div class="container">
  <h1 class="glow-text">🎉 Glow Party</h1>

  {% comment %}
  <h4 class="">Let's Go Have some Fun 🎉</h4>
  {% endcomment %}
  <img
    class="GFG"
    src="/static/images/other/glow.png"
    alt="Social Party"
    style="
      width: 100%;
      max-width: 600px;
      border-radius: 30px;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    "
  />
  <p style="font-family: roboto">
    <em
      >Photo Source: <a href="https://openai.com/index/dall-e-2/">Dall-E</a></em
    >
  </p>

  <h3 class="pt-2"><strong>Boat Ride🛥️</strong></h3>
  <h6>Location: <strong>Estação Marítima de Vigo</strong></h6>
  <h6>Date: <strong>June 6</strong></h6>
  <h6>Time: <strong>7:30 PM</strong></h3>
    <small><strong>Note: </strong>Be at  <strong>Estação Marítima de Vigo</strong> by 7 PM</small>


  <h5 class="pt-3">
   <strong> Don't miss out the one and only Platform Glow Party on DjangoCon Europe 2024 </strong>

 

  <h6>Location:<strong> Mar de Vigo Auditorium Rooftop</strong></h6>
  <h6>Date:<strong> June 7</strong></h6>


  <h3 class="pt-2">Boat Ride🛥️</h3>
  <h6>Location: <strong>Estação Marítima de Vigo</strong></h6>
  <h6>Time: <strong>7:00 PM</strong></h3>
    <small><strong>Note: </strong>be at  <strong>Estação Marítima de Vigo</strong> by 7 PM</small>

</div>
