{% load static %}
<div class="container-fluid sponsors py-3">
  <div class="container">
    <div class="title-container_sponsor">
        <!-- sponsor texts -->
    <h1 class="sponsormain">Sponsors</h1>
    <p style="font-size: 18px;"><span style="font-weight: bold;">Your logo can be here!</span> Discover the available sponsorship opportunities here.
    </p>
    </div>
    <div class="sponsorspage_content">
         <!-- Platinum sponsors -->
      <h3 class="sponsor-category-title">Platinum</h3>
      <!-- Platform Sh logo -->
      <img src="{% static 'images/sponsors/platformsh.png' %}" class='sponsor large'
           alt="Platform SH Logo">

           <!-- Kraken logo -->
      <img src="{% static 'images/sponsors/kraken.svg' %}" class='sponsor large ' alt="Kraken Logo">
      

      <!-- end of platinumsponsors  -->
      <hr class="sponsor-category-divider gold">
      <h3 class="sponsor-category-title">Gold</h3>
      <!--Kolo logo -->
      <img src="{% static 'images/sponsors/kolo.svg' %}" class='sponsor large'
           alt="Kolo Logo"> 
           <!-- Foxley logo -->
      <img src="{% static 'images/sponsors/foxley.png' %}" class='sponsor large'
           alt="Foxley Talent Logo">
      <hr class="sponsor-category-divider gold">

      <h3 class="sponsor-category-title">Silver</h3>
      <!-- Maykin logo -->
      <img src="{% static 'images/sponsors/maykin_logo.png' %}" class='sponsor large'
      alt="Monit Logo">

      <hr class="sponsor-category-divider gold">

    <!-- Bronze -->

      <h3 class="sponsor-category-title">Bronze</h3>
      <!-- Monit logo -->
      <img src="{% static 'images/sponsors/monit.png' %}" class='sponsor large'
           alt="Monit Logo">
        <!-- Ambient logo  -->
        <img src="{% static 'images/sponsors/ambient.svg' %}" class='sponsor large'
        alt="Ambient Logo">
          <!-- AppSignal logo  -->
        <img src="{% static 'images/sponsors/signal.svg' %}" class='sponsor large'
        alt="AppSignal Logo">

      <hr class="sponsor-category-divider gold">
      <h3 class="sponsor-category-title">Grants</h3>
      <!-- DSF Logo -->
      <img src="{% static 'images/sponsors/dsf.png' %}" class='sponsor large'
           alt="DSF Logo">
           <!-- EPS Logo -->
      <img src="{% static 'images/sponsors/eps.png' %}" class='sponsor large'
           alt="EPS Logo">

        <!-- PSF LOGO -->
      <img src="{% static 'images/sponsors/psf.png' %}" class='sponsor large'
           alt="PSF Logo">
      <hr class="sponsor-category-divider gold">
      <h3 class="sponsor-category-title">Organizer</h3>
      <!-- Evolutio logo -->
      <img src="{% static 'images/sponsors/evolutio.png' %}" class='sponsor large'
           alt="Evolutio Logo">
     
    </div>
  </div>
</div>

