{% load static %}


<div class="container-fluid sponsors py-3">
     <div class="container">
          <div class="title-container_sponsor">
               <!-- sponsor texts -->
               <h1 class="sponsormain">Sponsors</h1>
               <p style="font-size: 18px;"><span style="font-weight: bold;">Your logo can be here!</span> Discover the
                    available sponsorship opportunities here.
               </p>
          </div>
          <div class="sponsorspage_content">
               <!-- Platinum sponsors -->
               <h3 class="sponsor-category-title">Platinum</h3>
               <!-- Platform Sh logo -->
               <a href="https://www.platformsh.com/">
                    <img src="{% static 'images/sponsors/platformsh.png' %}" class="sponsor large"
                         alt="Platform SH Logo" />
               </a>

               <!-- Kraken logo -->
               <a href="https://kraken.tech/">
                    <img src="{% static 'images/sponsors/kraken.svg' %}" class="sponsor large" alt="Kraken Logo" />
               </a>


               <!-- end of platinumsponsors  -->
               <hr class="sponsor-category-divider gold">
               <h3 class="sponsor-category-title">Gold</h3>
               <!--Kolo logo -->
               <a href="https://www.kolo.app/">
                    <img src="{% static 'images/sponsors/kolo.svg' %}" class="sponsor large" alt="Kolo Logo" />
               </a>

               <!-- Foxley logo -->
               <a href="https://foxleytalent.com/">
                    <img src="{% static 'images/sponsors/foxley.png' %}" class="sponsor large"
                         alt="Foxley Talent Logo" />
               </a>

               <hr class="sponsor-category-divider gold">

               <h3 class="sponsor-category-title">Silver</h3>
               <!-- Maykin logo -->
               <a href="https://www.maykinmedia.nl/">
                    <img src="{% static 'images/sponsors/maykin_logo.png' %}" class="sponsor large"
                         alt="Maykin Media Logo" />
               </a>

               <hr class="sponsor-category-divider gold">

               <!-- Bronze -->

               <h3 class="sponsor-category-title">Bronze</h3>
               <!-- Monit logo -->
               <a href="https://monitdata.com/">
                    <img src="{% static 'images/sponsors/monit.png' %}" class="sponsor large" alt="Monit Logo" /></a>
               <!-- Ambient logo  -->
               <a href="https://ambient.digital/">
                    <img src="{% static 'images/sponsors/ambient.svg' %}" class="sponsor large" alt="Ambient Logo" />
               </a>
               <!-- AppSignal logo  -->
               <a href="https://www.appsignal.com/">
                    <img src="{% static 'images/sponsors/signal.svg' %}" class="sponsor large" alt="AppSignal Logo" />
               </a>


               <hr class="sponsor-category-divider gold">
               <h3 class="sponsor-category-title">Grants</h3>
               <!-- DSF Logo -->
               <a href="https://www.djangoproject.com/foundation/">
                    <img src="{% static 'images/sponsors/dsf.png' %}" class="sponsor large" alt="DSF Logo" />
               </a>
               <!-- EPS Logo -->
               <a href="https://www.europython-society.org/about/">
                    <img src="{% static 'images/sponsors/eps.png' %}" class="sponsor large" alt="EPS Logo" />
               </a>

               <!-- PSF LOGO -->
               <a href="https://www.python.org/psf/">
                    <img src="{% static 'images/sponsors/psf.png' %}" class="sponsor large" alt="PSF Logo" />
               </a>
               <hr class="sponsor-category-divider gold">
               <h3 class="sponsor-category-title">Organizer</h3>
               <!-- Evolutio logo -->
               <a href="https://www.evolutio.pt/">
                    <img src="{% static 'images/sponsors/evolutio.png' %}" class="sponsor large" alt="Evolutio Logo" />
               </a>

          </div>
     </div>
</div>