@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

html, body {
    overflow-x: hidden;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

////////////////////////////////
//Variables//
////////////////////////////////

$ContentWidth: 71.5rem;

$BgBlue: #003C80;
$BgDarkBlue: #AC7870;
$BgLightBlue: #863b35;
$BgGrey: #EDEDEB;
$BgLightGrey: #F2F2F0;
$TxtBlue: #863b35;
$TxtLightBlue: #8EBEF3;
$BtnGolden: #FFA300;

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

